/* Estilos base para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo gris oscuro */
}

/* Estilos para el encabezado */
header {
    background-color: #072D44; /* Fondo gris más oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Estilos para la imagen del encabezado */
.header-image {
    max-width: 90%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Para cambiar el tamaño de la imagen manualmente */
.header-image-custom-size {
    width: 150px; /* Cambiar este valor según sea necesario */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Estilos para el botón de menú */
#toggleMenu {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Color de texto blanco */
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para la barra de navegación */
nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #444; /* Fondo gris más oscuro */
    padding: 10px;
    width: auto;
    transition: width 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    header {
        position: relative;
    }

    #toggleMenu {
        display: block;
        width: auto;
    }

    nav {
        width: 200px;
    }
}

/* Establecer el ancho del botón Menú para que coincida con el menú desplegado */
#toggleMenu.expanded {
    background-color: #333; /* Cambiado a gris más oscuro */
}
#sideMenu ul ul {
    display: none; /* Ocultar submenú inicialmente */
}

nav.active {
    display: block;
    width: 200px; /* Ancho del menú desplegado */
}

/*----------------------------------------------------------------*/
/* Estilos para el pie de página */
footer {
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para el contenedor del pie de página */
.footer-container {
    display: flex; /* Utilizar flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuir los elementos uniformemente */
}

/* Estilos para el logo de la marca en el pie de página */
.brand-logo img {
    max-width: 50px; /* Ancho máximo del logo */
}

/* Estilos para las secciones "Acerca de" y "Información de contacto" en el pie de página */
.about,
.contact-info {
    flex-basis: 30%; /* Ancho base de cada sección */
}

/* Estilos para las imágenes de las redes sociales en el pie de página */
.social-media-icons img {
    width: 30px; /* Tamaño de las imágenes */
    margin-right: 10px; /* Margen derecho entre las imágenes */
}

/*-----------------------------------------------------------------------*/
/* Estilos para el subtítulo */
.subtitulo-info {
    background-color: #064469; /* Fondo anaranjado */
    padding: 20px; /* Espaciado interno */
    color: #fff; /* Color de texto blanco */
    border-radius: 10px; /* Esquinas redondeadas */
}
.texto-morado {
    background-color: #5790AB; /* Fondo azul marino */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-top: 20px; /* Margen superior */
}


.subtitulo {
    background-color: #064469; /* Fondo anaranjado */
    padding: 20px; /* Espaciado interno */
    color: #fff; /* Color de texto blanco */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilos para la caja de texto */
.texto-marino {
    background-color: #5790AB; /* Fondo azul marino */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-top: 20px; /* Margen superior */
}
/*---------------formulario-------------------------*/
/* Estilos para el formulario */
#formulario {
    background-color: #5790AB; /* Color de fondo del formulario */
    padding: 20px;
    margin: 0px auto;
    max-width: auto; /* Ancho máximo del formulario */
    border-radius: 10px;
}

/* Estilos para las cajas de entrada de texto */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 3px solid #9CCDDB;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}
