/* Estilos base para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    font-size:25px;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo gris oscuro */
}
/* Estilos para el encabezado */
header {
    background-color: #072D44; /* Fondo gris más oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    margin-top: auto;
    text-align: center;
    font-size: 100%;
    position: relative;
}

/* Estilos para la imagen del encabezado */
.header-image {
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    max-width: 100%; /* Asegurar que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto original */
}

/* Para cambiar el tamaño de la imagen manualmente */
.header-image-custom-size {
    width: 20%; /* Cambiar este valor según sea necesario */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Estilos para el botón de menú */
#toggleMenu {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Color de texto blanco */
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
}
/* Estilos para la barra de navegación */
nav {
    font-size: 20px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #5790AB; /* Fondo gris más oscuro */
    padding: 10px;
    width: auto;
    transition: width 0.5s ease;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    header {
        position: relative;
    }
    #toggleMenu {
        display: block;
        width: auto;
    }
    nav {
        width: 200px;
    }
}
/* Establecer el ancho del botón Menú para que coincida con el menú desplegado */
#toggleMenu.expanded {
    background-color: #5790AB; /* Cambiado a gris más oscuro */
}
#sideMenu ul ul {
    display: none; /* Ocultar submenú inicialmente */
}

nav.active {
    display: block;
    width: 200px; /* Ancho del menú desplegado */
}
/*-----------------------------------------------------------------------*/
/*termina el encabezado*/
/*------------------------------index------------------------------*/
.subtitulo {
    background-color: #064469; /* Fondo anaranjado */
    padding:50px; /* Espaciado interno */
    color: #fff; /* Color de texto blanco */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilos para la caja de texto */
.texto-inicio {
    background-color: #5790AB; /* Fondo azul marino */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-top: 20px; /* Margen superior */
    text-align: center;
    font-size: 100%;
}
/*------------integrantes--------------*/
/* Estilos para las imágenes de los integrantes */
.integrantes {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten automáticamente en filas */
    justify-content: space-around; /* Distribuir uniformemente los elementos a lo largo del contenedor */
}

.integrantes figure {
    text-align: center; /* Centrar el contenido horizontalmente */
    margin: 10px; /* Espacio entre las figuras */
    width: calc(33.33% - 30px); /* Ajustar el ancho de cada figura para que haya tres por fila */
}

.integrantes img {
    max-width: 100%; /* Asegurar que las imágenes se ajusten al ancho de la figura */
    height: auto; /* Mantener la relación de aspecto original */
}

.integrantes figcaption {
    margin-top: 15px; /* Espacio entre la imagen y el texto */
    font-size: 23px; /* Tamaño de fuente del texto debajo de la imagen */
}
/*-----------------------------------------------------------------------*/
/*termina index*/
/*------------------------------info------------------------------*/
/* Estilos para el subtítulo */
.subtitulo-info {
    background-color: #064469; /* Fondo anaranjado */
    padding: 20px; /* Espaciado interno */
    color: #fff; /* Color de texto blanco */
    border-radius: 10px; /* Esquinas redondeadas */
}
.texto-info {
    background-color: #5790AB; /* Fondo azul marino */
    color: #fff; /* Color de texto blanco */
    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin: 20px; /* Margen superior */
}
/*------------videos---------------*/
/* Estilos para la sección de videos */

.videos {
    background-color: #fff; /* Fondo rojo */
    padding: 20px;
    text-align: center;
}
/* Estilos para el contenedor de los videos */
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Estilos para cada video */
.video {
    margin: 20px;
    max-width: 400px; /* Ancho máximo para el video */
    border: 4px solid transparent; /* Borde sólido con color rojo */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del borde */
}

.video h3 {
    color: white;
    font-size: 18px;
}

.video video {
    width: 100%;
    background-color: black; /* Fondo negro para el video */
}

.texto-pregunta{
    background-color: #5790AB; /* Fondo azul marino */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-top: 20px; /* Margen superior */
    text-align: left;
    font-size: 100%;
}
.pregunta-frecuente figure img {
    border: 2px solid #9CCDDB; /* Cambia #ff0000 al color que desees para el borde */
    border-radius: 5px; /* Opcional: para redondear los bordes de la imagen */
}
/*-----------------------------------------------------------------------*/
/*termina info*/
/*------------------------------servicio------------------------------*/
/*---------------formulario-------------------------*/
/* Estilos para el formulario */
#formulario_Serv {
    background-color: #5790AB; /* Color de fondo del formulario */
    padding: 50px;
    margin: 0px auto;
    max-width: auto; /* Ancho máximo del formulario */
    border-radius: 10px;
}
/*-----------------------------------------------------------------------*/
/*termina servicio*/
/*------------------------------contacto------------------------------*/
#formulario_Cont {
    background-color: #5790AB; /* Color de fondo del formulario */
    padding: 50px;
    margin: 0px auto;
    max-width: auto; /* Ancho máximo del formulario */
    border-radius: 10px;
    color: black;
    text-align: left;
}

/* Estilos para las cajas de entrada de texto */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 25px;
    margin: 15px auto;
    border: 3px solid #9CCDDB;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 80%;
}
/* Estilos para el menú desplegable */
select {
    width: 100%;
    padding: 35px;
    margin: 10px auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    font-size: 80%;
}

/* Estilos para las opciones del menú desplegable */
select option {
    background-color: #fff;
    color: #333;
}

/* Estilo inicial del botón de enviar */
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Color verde original */
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo del botón de enviar cuando el cursor está sobre él */
input[type="submit"]:hover {
    background-color: #FF5733; /* Cambiar a rojo cuando se pasa el cursor */
}
/*-----------------------------------------------------------------------*/
/*termina cont*/
/*------------------------------preguntas frec------------------------------*/
/* Estilos para el botón de las preguntas frecuentes */
/* Estilos para el contenedor del botón */
.subtituloPre {
    background-color: #064469; /* Fondo anaranjado */
    padding:50px; /* Espaciado interno */
    color: #fff; /* Color de texto blanco */
    font-size: 90%;
    border-radius: 10px; /* Esquinas redondeadas */
}

.pregunta-btn-container {
    display: none; /* Oculta el contenedor del botón por defecto */
}
/* Estilos para el botón de las preguntas frecuentes */
.btn-pregunta {
    background-color: #4CAF50; /* Color verde por defecto */
    color: white;
    padding: 15px 20px;
    margin:0 auto;
    border: #3e9141;
    border-radius: 15px;;
    border-radius: 4px;
    cursor: pointer;
    font-size: 90%;
}

.btn-pregunta:hover {
    background-color: #FF5733; /* Cambiar a rojo cuando se pasa el cursor */
}

/*----------------------------------------------------------------*/
/* Estilos para el pie de página */
footer {
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para el contenedor del pie de página */
.footer-container {
    display: flex; /* Utilizar flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuir los elementos uniformemente */
    align-items: center; /* Alinear verticalmente los elementos */
}

/* Estilos para el logo de la marca en el pie de página */
.brand-logo img {
    max-width: 40%; /* Ancho máximo del logo */

}

/* Estilos para las secciones "Acerca de" y "Información de contacto" en el pie de página */
.about{
    font-size: 70%;
    
}
.contact-info {
    flex-basis: 30%; /* Ancho base de cada sección */
    font-size:70%;
    
}

/* Estilos para las imágenes de las redes sociales en el pie de página */
.social-media-icons img {
    width: 30px; /* Tamaño de las imágenes */
    margin-right: 5px; /* Margen derecho entre las imágenes */
}